{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="jumbotron clearfix">
            {% for flashMessage in app.session.flashbag.get('command_success') %}
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
                <h1>Accueil</h1>
                <p>Bienvenue sur la boutique en ligne du Louvre!</p>
                <p>Veuillez choisir une date ci-dessous pour commander un ou plusieurs billets.</p>

                {{ form_start(data_form) }}
                <div class="form-group">
                    {{ form_label(data_form.visitDay, null, { 'label_attr': { 'class': 'control-label' } }) }}
                    {{ form_errors(data_form.visitDay, { 'attr': { 'class': 'alert alert-danger' } }) }}
                    {{ form_widget(data_form.visitDay, { 'attr': { 'class': 'form-control datepickette' } }) }}
                    <input type="hidden" id="alternate">
                </div>
                {{ form_widget(data_form.visitDay) }}
                <div class="form-group select-period">
                    {{ form_label(data_form.visitPeriod,  null, { 'label_attr': { 'class': 'control-label' } }) }}
                    {{ form_errors(data_form.visitPeriod, { 'attr': { 'class': 'alert alert-danger' } } ) }}
                    {{ form_widget(data_form.visitPeriod, { 'attr': { 'class': 'form-control' } }) }}
                </div>
                <div class="form-group">
                    {{ form_widget(data_form.submit, { 'attr': { 'class': 'btn btn-primary submit-data-form' } }) }}
                </div>
                {{ form_end(data_form) }}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
                <div class="tickets-counter-container">
                    <div class="alert alert-info">
                        <h4 id="tickets-counter"></h4>
                    </div>
                </div>
            </div>

        </div>
        <div class="list-group col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
            <h3>Informations pratiques</h3>
            <div class="list-group-item">
                <h4 class="list-group-item-heading">Jours d'ouvertures</h4>
                <p class="list-group-item-text">Tous les jours sauf les mardis et les dimanches.</p>
            </div>
            <div class="list-group-item">
                <h4 class="list-group-item-heading">Horaires d'ouvertures</h4>
                <p class="list-group-item-text">De 9h à 18h, 21h45 les mercredis et vendredis.</p>
            </div>
            <div class="list-group-item">
                <h4 class="list-group-item-heading">Le musée sera fermé les jours fériés.</h4>
            </div>
            <div class="list-group-item">
                <h4 class="list-group-item-heading">L'entrée est gratuite pour les enfants de moins de 4 ans.</h4>
            </div>
        </div>

        <div class="list-group col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
            <div class="list-group-item">
                <h4 class="list-group-item-heading">Accès au musée</h4>
                <p class="list-group-item-text">Bus: 21,24,27,39,48,68,69,72,81,95.</p>
                <p class="list-group-item-text">Métro: Ligne 1 station Palais-Royal/Musée du Louvre.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/datepicker.js') }}"></script>
{% endblock %}

